body {
    padding-top: 54px;
    background-color: #242527;
    color: white;
}

@media (min-width: 992px) {
    body {
        padding-top: 100px;
    }
}

.text-center {
    display: flex;
    justify-content: center;
}

.index-logo {
    width: 100%;
    display: none;
}

.index-container {
    background-image: url("../img/AR15-1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}

.nav-logo {
    height: 65px;
}

#navbar-container {
    display: flex;
    flex-grow: 1;
}

.nav-item {
    margin: 0 10px 0;
}

.active {
    background-color: #747474;
    border-radius: 5px;
}

.fixed-top {
    background-color: #242527;
}

.navigation-links {
    flex-grow: 1;
}

.card-image {
    width: 100%;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-input, .contact-textbox {
    width: 100%;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.btn-send:hover {
    cursor: pointer;
}

.footer {
    color: gray;
}

.box-row {
    padding-top: 150px;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .box-row {
        padding-top: 50px;
    }
}

.index-item {
    height: 300px;
    background-color: #f2bf25;
    color: white;
    margin: 0 50px 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-item-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.index-item-description i {
    font-size: 75px;
    margin-bottom: 15px;
}

.index-item-cta {
    cursor: pointer;
    background-color: #757575;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-row {
    padding-top: 100px;
}

.index-cta {
    width: 200px;
}

.index-cta .description {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 32px;
    padding: 15px 65px 15px 15px;
}

.index-cta .button {
    padding: 15px 25px 15px 25px;
    background-color: #f2bf25;
    color: white;
    font-size: 36px;
    text-align: center;
    display: block;
}

.index-cta a:hover {
    text-decoration: none;
}

a.index-item-cta,
a.index-item-description {
    color: white;
    text-decoration: none;
}